<div class="card mt-3 mx-auto p-5 col-8 shadow">
    <h2 *ngIf="estadoFormulario == EnumEstadoFormulario.Nuevo">Ingresando un Nueva Categoria de Producto</h2>
    <h2 *ngIf="estadoFormulario == EnumEstadoFormulario.Editando">Editando la categoria: {{datosEdit.descripcion}}</h2>
    <form [formGroup]="edicionForm" class="needs-validation" (ngSubmit)="enviarFormulario($event); edicionForm.markAllAsTouched();">
      <div class="card p-5 my-4">
        <h2>Datos Personales</h2>
        <div class="row">
          <div class="col-6">
            <label for="descripcion">Descripción<span class="text-danger">*</span>:</label>
            <input type="text" id="descripcion" formControlName="descripcion" class="form-control">
            <div *ngIf="edicionForm.get('descripcion')?.invalid && (edicionForm.get('descripcion')?.dirty || edicionForm.get('descripcion')?.touched)" class="text-danger">
              La descripción es un campo obligatorio.
            </div>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="d-grid gap-2">
          <button *ngIf="!elFormularioEstaSiendoEnviado" type="submit" class="btn btn-primary btn-block">{{(datosEdit) ? "Guardar cambios":"Crear Nuevo"}}</button>
          <button *ngIf="elFormularioEstaSiendoEnviado" type="submit" [disabled]="true" class="btn btn-primary btn-block">Enviando...</button>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-5">
          <div class="d-grid gap-2">
            <button type="button" (click)="volverClick()" class="btn btn-secondary ml-auto">Volver</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  