<app-btn-volver [routerLink]="['/bienvenido']"></app-btn-volver>
<div class="c-1 pt-2 pb-2 titulo-panel">
    <p class="h1">Emisión de Ventas</p>
</div>
<div class="card text-center py-3">
<div class="buscador-de-clientes pt-2 row">
    <p class="col-1 d-flex justify-content-center">
        <mat-icon *ngIf="cliente==null" class="accion-icon border clickeable" title="Identificar al cliente." (click)="this.seleccionar_cliente()" >search</mat-icon>
        <mat-icon *ngIf="cliente!=null" class="accion-icon border clickeable" title="Identificar al cliente." (click)="this.cliente = null" >close</mat-icon>
    </p>
    <p *ngIf="cliente != null" class="col-6">Cliente: {{cliente.apellido}}, {{cliente.nombre}} - CUIL/CUIT: {{cliente.cuil_cuit}}</p>
    <p *ngIf="cliente == null" class="col-6">Cliente: Anónimo</p>
</div>
<div class="c-4 ambas-columnas">
    <div class=" c-3 columna-1">
        <div class=" c-4 barra-de-busqueda text-center">
            <label class="label-campo-filtro-productos h6" for="filtro-productos">Nombre de Producto
            </label>
            <input class="campo-filtro-productos" id="filtro-productos" (keyup)="this.filtrar(inputFiltro.value)" type="text" #inputFiltro>
        </div>
        <div class=" c-1 lista-de-elementos">
            <table class="cdk-table mat-table table mat-small text-center lista-de-productos">
                <!-- Definir las columnas -->
                <thead>
                <tr class="row">
                    <th class="col-4">Nombre</th>
                    <th class="col-4">Marca</th>
                    <th class="col-2">Cantidad</th>
                    <th class="col-2">Precio</th>
                </tr>
                </thead>
                <tbody class="cuerpo-lista-productos">
                <!-- Definir las filas -->
                <tr class="row clickeable " (click)="seleccionar(datos)" (dblclick)="test_agregar_al_carrito()" *ngFor="let datos of productos_filtrados">
                    <td class="col-4 {{styleProductoSeleccionado(datos)}}">{{datos.descripcion}}</td>
                    <td class="col-4 {{styleProductoSeleccionado(datos)}}">{{datos.marca?.descripcion || "Sin marca"}}</td>
                    <td class="col-2 {{styleProductoSeleccionado(datos)}}">{{datos.total_cantidad || "-" }}</td>
                    <td class="col-2 {{styleProductoSeleccionado(datos)}}">{{datos.historial_precio?.precio || "Error"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class=" c-2 selector-de-cantidad row">
            <div class="col-6">
                <label class="h6" for="input-cantidad">Cantidad:</label>
                <input class="mx-2" type="number" name="input-cantidad" id="" #input_cantidad>
            </div>
            <div class="col-6">
                <button #btn  class="btn btn-primary" (click)="btn.focus(); agregar_al_carrito(input_cantidad.valueAsNumber || 1); input_cantidad.value=''">Ingresar a la lista</button>
            </div>
        </div>
    </div>
    <div class="c-1 columna-2">
        <div class="c-2 productos-en-el-carrito">
            <div class="c-1 titulo-carrito">
                <p class="h5">Lista de Compras</p>
            </div>
            <div class="c-4 productos-carrito">
                <table class="cdk-table mat-table table mat-small text-center lista-de-productos">
                    <!-- Definir las columnas -->
                    <thead>
                        <tr class="row">
                            <th class="col-8">Producto</th>
                            <!-- <th class="col-4">Marca</th> -->
                            <th class="col-2">Cantidad</th>
                            <th class="col-2">Total</th>
                        </tr>
                    </thead>
                    <tbody class="cuerpo-lista-productos">
                    <!-- Definir las filas -->
                        <tr class="row producto-en-carrito-remover" (click)="remover_lista(datos)" *ngFor="let datos of carrito">
                            <td class="col-8 producto-en-carrito-remover">{{datos.producto.descripcion}} - {{datos.producto.marca?.descripcion || "Sin marca"}}</td>
                            <!-- <th class="col-4">{{datos.producto.marca?.descripcion || "Sin marca"}}</th> -->
                            <td class="col-2 producto-en-carrito-remover" >{{datos.cantidad || "-" }}</td>
                            <td class="col-2 producto-en-carrito-remover">{{datos.producto.historial_precio?.precio || 0 * datos.cantidad }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="c-4 informacion-de-la-compra">
            <div class="row">
                <div class="col-6 text-center">
                    <p>SubTotal</p>
                    <p>Descuento del IVA</p>
                </div>
                <div class="col-6 text-center">
                    <p>{{this.subtotal}}</p>
                    <p>{{this.descuento}}</p>
                </div>
            </div>
        </div>
        <div class="c-2 boton-de-confirmacion">
            <div class="row">
                <div class="col-6 text-center">               
                    <p>TOTAL : {{this.total}}</p>
                </div>
                <div class="col-6 text-center">
                    <button class="btn btn-warning"
                    [disabled]="this.carrito.length == 0 || emitiendo || this.id_metodo_pago<1" (click)="cerrar_factura()">FINALIZAR</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <label class="col-4" for="MetodoPago">Método de Pago:
                </label>
                <select class="col-6" name="" id="MetodoPago" [(ngModel)]="id_metodo_pago">
                    <option *ngFor="let metodoPago of metodosDePagoDisponibles" [value]="metodoPago.id_metpago">{{metodoPago.descripcion}}</option>
                </select>                   
            </div>
        </div>
    </div>
</div>
</div>
<app-btn-volver [routerLink]="['/bienvenido']"></app-btn-volver>