<app-btn-volver *ngIf="estadoFormulario!=EnumEstadoDelFormulario.Base && estadoFormulario!=EnumEstadoDelFormulario.Busqueda" (volver)="volverABase()"></app-btn-volver>
<app-btn-volver *ngIf="estadoFormulario==EnumEstadoDelFormulario.Base" [routerLink]="['/bienvenido']"></app-btn-volver>
<div class="card text-center py-3">
<div class="pt-5 px-1" [hidden]="!(estadoFormulario == EnumEstadoDelFormulario.Base || estadoFormulario == EnumEstadoDelFormulario.Busqueda)">
    <h2>{{(estadoFormulario == EnumEstadoDelFormulario.Base) ? "Gestión de los Registros de Clientes" : "Buscando el registro del Cliente"}}</h2>
    <div>
      <div class="row justify-content-center">
        <app-barra-busqueda-texto class="col-6"
          [opcionesNombre]="['C. Apellido', 'C. Nombre', 'C. DNI']"
          [opcionesValores]="[EnumFiltroCliente.apellido, EnumFiltroCliente.nombre, EnumFiltroCliente.dni]"
          [filtroDetalle]="filtro.filters[0]"
          (emisionDeFiltro)="buscar()"></app-barra-busqueda-texto>
        <app-barra-filtro-desplegable
          class="col-2"
          [campo]="EnumFiltroCliente.habilitado"
          [tipoDeComparacion]="TipoDeComparacion.LITERAL"
          [label_titulo]="'Habilitado'"
          [opcionesNombre]="['Habilitado','No Habilitado']"
          [opcionesValores]="[1,0]"
          [filtroDetalle]="filtro.filters[1]"
          (eventoEmision)="buscar()">          
      </app-barra-filtro-desplegable>
      </div>
    </div>
</div>

  <div class="pb-5 px-3" *ngIf="estadoFormulario == EnumEstadoDelFormulario.Base || estadoFormulario == EnumEstadoDelFormulario.Busqueda">

      <table class="mat-elevation-z8 cdk-table mat-table table mat-small text-center ">
          <!-- Definir las columnas -->
          <thead>
            <tr class="row justify-content-center">
              <th class="col-1">Nro Id</th>
              <th class="col-2">Opciones</th>
              <th class="col-2">Apellido</th>
              <th class="col-3">Nombre</th>
              <th class="col-2">CUIL / CUIT</th>
              <th class="col-1">Tipo IVA</th>
              <th class="col-1">
                <div class="addicon-inline">
                  Habilitado
                  <mat-icon class="accion-icon border clickeable" title="Agregar un nuevo cliente." (click)="crearNuevo()" >add</mat-icon>
                </div>
              </th>
              <!-- Definir el resto de las columnas -->
            </tr>
          </thead>
          <tbody>
            <!-- Definir las filas -->
            <tr class="row justify-content-center" *ngFor="let datos of clientes">
              <td class="col-1">{{ datos.id_cliente}}</td>
              <td class="col-2">
                  <mat-icon *ngIf="estadoFormulario == EnumEstadoDelFormulario.Base" class="accion-ico clickeable" title="Modificar el registro del cliente." (click)="this.editar(datos)" >edit</mat-icon>
                  <mat-icon *ngIf="estadoFormulario == EnumEstadoDelFormulario.Busqueda" class="accion-ico clickeable" title="Seleccionar el registro del cliente." (click)="this.emitirSeleccion(datos)" >search</mat-icon>
                  <mat-icon class="accion-icon clickeable" [title]="(datos.habilitado == 1)?'Desactivar cliente.':'Reactivar el cliente.'" (click)="darDeBaja(datos)"npm install sweetalert2>{{datos.habilitado== 1 ? "arrow_downward" :"arrow_upward"}}</mat-icon>
              </td>
              <td class="col-2">{{ datos.apellido}}</td>
              <td class="col-3">{{ datos.nombre}}</td>
              <td class="col-2">{{ datos.cuil_cuit}}</td>
              <td class="col-1">{{ datos.cond_iva?.descripcion}}</td>
              <td class="col-1">{{ datos.habilitado == 1 ? "Activado" : "No"}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <app-barra-paginacion class="col-6" (emitirBusqueda)="barraPageable($event)" *ngIf="datosPageable!=null" [datosPageable]="datosPageable!"></app-barra-paginacion>
        </div>
  </div>
  <div class="pb-5 px-5" *ngIf="estadoFormulario == EnumEstadoDelFormulario.Editando || estadoFormulario == EnumEstadoDelFormulario.Nuevo">
    <app-edit-cliente [datosEdit]="clienteSeleccionado" [estadoFormulario]="estadoFormulario" (envioExitoso)="envioExitoso()" (volver)="volverABase()"> </app-edit-cliente>
  </div>
</div>
<app-btn-volver *ngIf="estadoFormulario==EnumEstadoDelFormulario.Base" [routerLink]="['/bienvenido']"></app-btn-volver>
<app-btn-volver *ngIf="estadoFormulario!=EnumEstadoDelFormulario.Base && estadoFormulario!=EnumEstadoDelFormulario.Busqueda" (volver)="volverABase()"></app-btn-volver>