<app-btn-volver *ngIf="editando" (volver)="eventoVolver()"></app-btn-volver>
<app-btn-volver *ngIf="!(editando)" [routerLink]="['/admin']"></app-btn-volver>

<div class="p-5" *ngIf="!editando">
    <h2>Paises</h2>
    <table class="mat-elevation-z8 cdk-table mat-table table mat-small">
        <!-- Definir las columnas -->
        <thead>
          <tr class="row ps-5">
            <th class="col-2">Opciones</th>
            <th class="col-2">Descripción</th>
            <th class="col-2 ">
              <mat-icon class="accion-icon border" title="Registrar un nuevo país." (click)="this.crearNuevo()" >add</mat-icon>
            </th>
            <!-- Definir el resto de las columnas -->
          </tr>
        </thead>
        <tbody>
          <!-- Definir las filas -->
          <tr class="row ps-5" *ngFor="let pais of Paises">
            <td class="col-2">
                <mat-icon class="accion-icon" title="Modificar los datos del país." (click)="this.editar(pais)" >edit</mat-icon>
                <mat-icon class="accion-icon" title="Borrar el registro del país." (click)="borrar(pais)"npm install sweetalert2>delete</mat-icon>
            </td>
            <td class="col-2">{{ pais.descripcion }}</td>
            <!-- Definir el resto de las columnas -->
          </tr>
        </tbody>
      </table>
    </div>
    
    <app-edit-pais [datosEdit]="datosAEditar!" [editMode]="activarEdicion" *ngIf="editando" (volver)="eventoVolver()" (envioExitoso)="eventoEnvioExitoso()"></app-edit-pais>
    <app-btn-volver *ngIf="editando" (volver)="eventoVolver()"></app-btn-volver>
<app-btn-volver *ngIf="!(editando)" [routerLink]="['/admin']"></app-btn-volver>
